@import 'normalize.css/normalize';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  color: #fff;
  background: #333;
}

.component {
  box-sizing: border-box;
  font-size: 4rem;
  height: 30vh;
  line-height: 30vh;
  margin: 2vh;
  text-align: center;
}

.unit {
  font-size: 2rem;
}

.component > * {
  display: inline-block;
  vertical-align: middle;
}

.icon-timer {
  width: 10vw;
  height: 10vw;
  fill: #fff;
}

.iso {
  transform: rotate(-90deg);
}

.bar {
  display: block;
  position: relative;
  margin: 0 10vw;
  height: 1vh;
}

.bar-outer,
.bar-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.bar-outer {
  width: 100%;
  background: #000;
  text-align: left;
}

.bar-inner {
  width: 100%;
  background: #fff;
}

.credits {
  display: none;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
