<div class="component">
  <svg class="icon-timer">
    <use xlink:href="icons/stopwatch.svg#stopwatch"></use>
  </svg>
  <span class="label visuallyhidden">Time</span>
  <span class="value">
    {{timeSecs || '—'}}<span class="unit">s</span>
  </span>
</div>
<div class="component">
  <span class="label iso">ISO</span>
  <span class="value">{{iso}}</span>
</div>
<div class="component">
  <span class="label visuallyhidden">Light:</span>
  <span class="value">{{ conditions.name }}</span>
  <div class="bar">
    <div class="bar-outer">
      <div style="width: {{ lightLevelPercent }}%" class="bar-inner"></div>
    </div>
  </div>
</div>
<div class="credits">
  <h2>Icons</h2>
  <p>Stopwatch by Edward Boatman from the Noun Project</p>
</div>
